body {
font-family: serif;
}
body {
margin: 0; line-height: 1.6em; -epub-writing-mode: horizontal-tb;
}
p {
margin: 0;
}
a {
text-decoration: none;
}
.vertical-sideways {
-epub-text-orientation: sideways;
}
.vertical-upright {
-epub-text-orientation: upright;
}
.invert-sideways {
-epub-text-orientation: sideways;
}
.invert-upright {
-epub-text-orientation: upright;
}
.c5622 {
background-color: #FFFFFF; color: #000000;
}
.c5623 {
page-break-after: always; display: block; -epub-writing-mode: horizontal-tb; width: 100%;
}
.c5624 {
text-align: justify; display: block;
}
.c5624 rt {
font-size: 50%;
}
.c5624 hr {
border-style: none; background-color: #000000; height: 5px; width: 100%;
}
.c5624 hr:last-child {
margin-bottom: 0;
}
.c5625 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5626 {
color: #000000; font-family: serif; font-size: 1.9500000000000002em; line-height: 1.6em; letter-spacing: 0px;
}
.c5627 {
color: #000000; font-family: serif; font-size: 1.9500000000000002em; line-height: 1.6em; letter-spacing: 0px;
}
.c5628 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5629 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5630 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5631 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5632 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5633 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5634 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5635 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5636 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5637 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5638 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5639 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5640 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5641 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5642 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5643 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5644 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5645 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5646 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5647 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5648 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5649 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5650 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5651 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5652 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5653 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5654 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5655 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5656 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5657 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5658 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5659 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5661 {
display: none;
}
.c5662 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5663 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5664 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5665 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5666 {
color: #000000; font-family: serif; line-height: 1.6em; letter-spacing: 0px;
}
.c5667 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5668 {
color: #000000; font-family: serif; line-height: 1.6em; letter-spacing: 0px;
}
.c5669 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5671 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5672 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5674 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5675 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5676 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5677 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5678 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5679 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5680 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5681 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5682 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5683 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5684 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5685 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5686 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5687 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5688 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5689 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5690 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5691 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5692 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5693 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5694 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5695 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5696 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5697 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5698 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5699 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5700 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5701 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5702 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5703 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5704 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5705 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5706 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5707 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c5708 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5709 {
text-align: justify; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5710 {
text-align: right; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c5711 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
html {
-epub-writing-mode: horizontal-tb;
}
