body {
font-family: serif;
}
body {
margin: 0; line-height: 1.6em; -epub-writing-mode: horizontal-tb;
}
p {
margin: 0;
}
a {
text-decoration: none;
}
.vertical-sideways {
-epub-text-orientation: sideways;
}
.vertical-upright {
-epub-text-orientation: upright;
}
.invert-sideways {
-epub-text-orientation: sideways;
}
.invert-upright {
-epub-text-orientation: upright;
}
.c7075 {
background-color: #FFFFFF; color: #000000;
}
.c7076 {
page-break-after: always; display: block; -epub-writing-mode: horizontal-tb;
}
.c7074 {
display: inline-block; vertical-align: middle; -epub-writing-mode: vertical-rl; height: 100%;
}
.c7077 {
text-align: justify; display: inline-block; vertical-align: middle; width: 100%;
}
.c7077 rt {
font-size: 50%;
}
.c7077 hr {
border-style: none; background-color: #000000; height: 5px; width: 100%;
}
.c7077 hr:last-child {
margin-bottom: 0;
}
.c7078 {
text-align: center; text-indent: 0em; font-size: 0; line-height: 0; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c7079 {
color: #000000; font-family: serif; font-size: 1em; line-height: 1.6em; letter-spacing: 0px;
}
.c7080 {
line-height: 1; text-indent: 0; display: inline-block; height: 100%;
}
a[href] .c7080 {
border: solid 1px #000000;
}
.c7081 {
max-height: 100%; max-width: 100%; height: 100%;
}
a[href] .c7081 {
max-width: 99%;
}
html {
-epub-writing-mode: horizontal-tb;
}
