body {
font-family: serif;
}
body {
margin: 0; line-height: 1.6em; -epub-writing-mode: horizontal-tb;
}
p {
margin: 0;
}
a {
text-decoration: none;
}
.vertical-sideways {
-epub-text-orientation: sideways;
}
.vertical-upright {
-epub-text-orientation: upright;
}
.invert-sideways {
-epub-text-orientation: sideways;
}
.invert-upright {
-epub-text-orientation: upright;
}
.c18 {
background-color: #FFFFFF; color: #000000;
}
.c19 {
page-break-after: always; display: block; -epub-writing-mode: horizontal-tb;
}
.c17 {
display: inline-block; vertical-align: middle; -epub-writing-mode: vertical-rl; height: 100%;
}
.c20 {
text-align: justify; display: inline-block; vertical-align: middle; width: 100%;
}
.c20 rt {
font-size: 50%;
}
.c20 hr {
border-style: none; background-color: #000000; height: 5px; width: 100%;
}
.c20 hr:last-child {
margin-bottom: 0;
}
.c21 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c22 {
color: #000000; font-family: serif; font-size: 1.5em; line-height: 1.6em; letter-spacing: 0px;
}
.c23 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c24 {
color: #000000; font-family: sans-serif,sans-serif; font-size: 1.0em; line-height: 1.6em; letter-spacing: 0px;
}
.c25 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c26 {
color: #000000; font-family: sans-serif,sans-serif; font-size: 1.0em; line-height: 1.6em; letter-spacing: 0px;
}
.c27 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c28 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c29 {
color: #000000; font-family: serif; font-size: 1.2em; line-height: 1.6em; letter-spacing: 0px;
}
.c30 {
margin: 0; padding: 0; border-style: none; text-align: center; text-indent: 0em; font-size: 0; line-height: 0; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c31 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c32 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c33 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c34 {
text-align: center; text-indent: 0em; min-height: 1.6em; margin-left: 0px; margin-right: 0px; padding-left: 0px;
}
.c35 {
color: #000000; font-family: sans-serif,sans-serif; font-size: 1.0em; line-height: 1.6em; letter-spacing: 0px;
}
html {
-epub-writing-mode: horizontal-tb;
}
